{% extends 'base.html' %}

{% block title %}Rules | {{ contest['name'] }}{% endblock %}

{% block header %}
<h1>{{ contest['name'] }}</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('contest.rules', id=contest['id']) }}">Rules</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('contest.submit_log', id=contest['id']) }}">Log Submission</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('contest.results', id=contest['id']) }}">Results</a>
    </li>
</ul>
{% endblock %}

{% block content %}

<h2>Contest Period</h2>

{{ contest['start_date'].strftime('%Y-%m-%d %H%M') }}Z to {{ contest['end_date'].strftime('%Y-%m-%d %H%M') }}Z.

<h2>Log Submission Deadline</h2>

{{ contest['log_due_date'].strftime('%Y-%m-%d %H%M') }}Z.

<h2>Categories</h2>

<ul>
    {% for cat in categories['categories'] %}
        <li>{{ cat }}</li>
    {% endfor %}
</ul>
<ul>
    {% for item,desc in categories['descriptions'].items() %}
        <li><b>{{ item }}:</b> {{ desc }}</li>
    {% endfor %}
</ul>


<h2>Scoring</h2>

{{ contest['score_formula'] }}

<h2>Exchange</h2>

{{ contest['exchange'] }}

<h2>Modes</h2>

{{ contest['modes'] }}

<h2>Bands</h2>

{{ contest['bands'] }}

<h2>Multipliers</h2>

{{ contest['multipliers'] }}

<h2>Other Rules</h2>

{{ contest['rules']|markdown }}

{% endblock %}

