{% extends 'base.html' %}

{% block title %}Rules | {{ contest['name'] }}{% endblock %}

{% block header %}
<h1>{{ contest['name'] }}</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('contest.rules', id=contest['id']) }}">Rules</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('contest.submit_log', id=contest['id']) }}">Log Submission</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('contest.results', id=contest['id']) }}">Results</a>
    </li>
</ul>
{% endblock %}

{% block content %}

<h1>Contest Period</h1>
{{ contest['start_date'].strftime('%Y-%m-%d %H:%M') }} UTC to {{ contest['end_date'].strftime('%Y-%m-%d %H:%M') }} UTC.

<h1>Log Submission Deadline</h1>
{{ contest['log_due_date'].strftime('%Y-%m-%d %H:%M') }} UTC.

<h1>Rules</h1>

{{ contest['rules']|markdown }}

{% endblock %}

