{% extends 'base.html' %}

{% block title %}Log Overdue | {{ contest['name'] }}{% endblock %}


{% block header %}
<h1>{{ contest['name'] }}</h1>

{% include 'contest/contest_nav.html' %}
{% endblock %}

{% block content %}
    <h1>Log Submission Closed</h1>
    <p>Online log submissions for {{ contest['name'] }} are currently closed at this time, as they were
        due at {{contest['log_due_date'] }}.</p>
    <p>If you are sure that you are submitting logs for the correct contest, please make arrangements with the
        contest organizer directly for submitting late logs.</p>
{% endblock %}

