{% extends 'base.html' %}

{% block title %} Success | {{ contest['name'] }}{% endblock %}

{% block header %}
    <h1>{{ contest['name'] }}</h1>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contest.rules', id=contest['id']) }}">Rules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('contest.submit_log', id=contest['id']) }}">Log Submission</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contest.results', id=contest['id']) }}">Results</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Thank You</h1>
    <p>You have successfully submitted logs for {{ contest['name'] }}.</p>
    <p>Your receipt number for this submission is <code>{{ receipt }}</code>. Please save or print this number, as it serves as proof
    of submission in case your submission gets lost or corrupted.</p>
    <p>If you have made a mistake in submitting your log, please feel free to resubmit your logs using the same submission form. The
        prior entry will be replaced and only the last submission will be candidate for scoring. As a security consideration,
        we will send a notification to the email address left in the prior submission to let them know that their submission has been replaced.
    </p>
{% endblock %}

