{% extends 'base.html' %}

{% block title %} Success | {{ contest['name'] }}{% endblock %}

{% block header %}
<h1>{{ contest['name'] }}</h1>

{% include 'contest/contest_nav.html' %}
{% endblock %}

{% block content %}
    <h1>Thank You</h1>
    <p>You have successfully submitted logs for {{ contest['name'] }}.</p>
    <p>Your receipt number for this submission is <code>{{ receipt }}</code>. Please save or print this number, as it serves as proof
    of submission in case your submission gets lost or corrupted.</p>
{% endblock %}

