{% extends 'base.html' %}

{% block title %}Submit | {{ contest['name'] }}{% endblock %}

{% block header %}
<h1>{{ contest['name'] }}</h1>

{% include 'contest/contest_nav.html' %}
{% endblock %}

{% block content %}

    <h1>Submit Your Log</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post" enctype="multipart/form-data">
        <h2>Station Information</h2>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Ex: john@example.com"
                       required>
            </div>
            <div class="form-group col-md-5">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name"
                       placeholder="Ex: John Smith or New York Amateur Radio Club" required>
            </div>
            <div class="form-group col-md-2">
                <label for="claimed">Claimed Score</label>
                <input type="number" class="form-control" name="claimed" id="claimed" placeholder="Ex: 34055">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="callsign">Callsign used during the contest</label>
                <input type="text" class="form-control" name="callsign" id="callsign" placeholder="Ex: W100AW" required>
            </div>
            <div class="form-group col-md-4">
                <label for="op-call">Operator Callsigns</label>
                <input type="text" class="form-control" name="op-call" id="op-call" placeholder="Ex: KX0XYZ KX1XYZ"
                       required>
            </div>
            <div class="form-group col-md-4">
                <label for="stn-call">Station Callsign</label>
                <input type="text" class="form-control" name="stn-call" id="stn-call" placeholder="Ex: W1AW">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="club">Contest Club Name</label>
                <input type="text" class="form-control" name="club" id="club" placeholder="Ex: Midwest Contest Club">
            </div>
        </div>
        <h2>Entry Categories</h2>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="category_assisted">Assisted:</label>
                <select class="form-control" name="category_assisted" id="category_assisted">
                    {% for value in categories['category_assisted'] %}
                        <option>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="category_power">Power:</label>
                <select class="form-control" name="category_power" id="category_power">
                    {% for value in categories['category_power'] %}
                        <option>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="category_band">Band:</label>
                <select class="form-control" name="category_band" id="category_band">
                    {% for value in categories['category_band'] %}
                        <option>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="category_mode">Modes Used:</label>
                <select class="form-control" name="category_mode" id="category_mode">
                    {% for value in categories['category_mode'] %}
                        <option>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="category_operator">Operator:</label>
                <select class="form-control" name="category_operator" id="category_operator">
                    {% for value in categories['category_operator'] %}
                        <option>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="category_transmitter">Transmitter:</label>
                <select class="form-control" name="category_transmitter" id="category_transmitter">
                    {% for value in categories['category_transmitter'] %}
                        <option>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="category_station">Station Type:</label>
                <select class="form-control" name="category_station" id="category_station">
                    {% for value in categories['category_station'] %}
                        <option>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="category_time">Time Operated:</label>
                <select class="form-control" name="category_time" id="category_time">
                    {% for value in categories['category_time'] %}
                        <option>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="category_overlay">Overlay:</label>
                <select class="form-control" name="category_overlay" id="category_overlay">
                    <option value="" selected>None</option>
                    {% for value in categories['category_overlay'] %}
                        <option>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <h2>File Upload</h2>
        <div class="form-group">
            <label for="log">Upload your Cabrillo-formatted log file (.log)</label>
            <input type="file" accept=".log" class="form-control-file" name="log" id="log" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}

